html {
    box-sizing: border-box;
    background: rgb(240, 238, 238);
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}